<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MAC</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/icon.png" rel="icon">
    <link href="assets/img/icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div id="logo">
            <h1><a href="index.html"><span>M</span>AC</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#get-started">APP</a></li>
                <li><a class="nav-link scrollto" href="#team">Team</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-in">
        <h1>Welcome to MAC</h1>
        <h2>Musculoskeletal Abnormality Classifier is a computer vision project that aims to classify <br/>which
            skeletal section the X-ray shows according to the classes fed to the model</h2>
        <img src="assets/img/base.jpg" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
        <a href="#get-started" class="btn-get-started scrollto">Get Started</a>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <h2>Application Demo!</h2>
                <p class="separator">Just choose what type you want to try!</p>

            </div>
        </div>
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation"
                    style="text-align: center;margin: 0px auto;display: inline-flex !important;float: none !important;">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                            type="button" role="tab" aria-controls="home" aria-selected="true">Analyze With Label
                    </button>
                </li>
                <li class="nav-item" role="presentation"
                    style="text-align: center;margin: 0px auto;display: inline-flex !important;float: none !important;">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                            type="button" role="tab" aria-controls="profile" aria-selected="false">Analyze Without Label
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p>
                        Please click Add to upload many images as you want and select each image label<br/>
                        Our System will analyze the abnormality
                    </p>
                    <form action="" id="ImageWithForm" method=POST enctype="multipart/form-data">
                        <div>
                            <div id="container1">&nbsp;</div>
                            <br/>
                            <br/>
                            <input type="button" value="Add Image Line" id="add_with" class="btn btn-primary"/>
                        </div>
                        <br/>
                        <button type="button" id="upload_1" class="btn btn-block btn-dark"><i class="fa fa-fw fa-upload"
                                                                                              disabled></i> Show Results
                        </button>
                        <br/>
                        <br/>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                              <table class="table table-responsive" id="results">
                              </table>
                            </div>
                          </div>
                    </form>
                    <div id="results_with">

                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <p>
                        Please click Add to upload many images as you want <br/>
                        Our System will analyze the image to check the image type and abnormality
                    </p>
                    <form action="" id="ImageWithoutForm" method=POST enctype="multipart/form-data">
                        <div>
                            <div id="container2">&nbsp;</div>
                            <br/>
                            <br/>
                            <input type="button" value="Add Image Line" id="add_without" class="btn btn-primary"/>
                            <br/>
                            <br/>
                            <button type="button" id="upload_2" class="btn btn-block btn-dark" disabled><i
                                    class="fa fa-fw fa-upload"></i> Show Results
                            </button>
                        </div>
                    </form>
                    <div id="results_without">

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End Get Started Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">

                <h2>Team Members</h2>
                <p class="separator">Our Brilliant team who worked on this product</p>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-3 col-lg-1" data-aos-delay="100"></div>
                <div class="col-md-4 col-md-3 col-lg-2" data-aos="zoom-in" data-aos-delay="100">
                    <div class="team-block bottom">
                        <img src="assets/img/team/2.jpg" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                            </ul>
                            <span>CV Engineer</span>
                            <h4>Ahmed Othman</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-3 col-lg-2" data-aos="zoom-in" data-aos-delay="200">
                    <div class="team-block bottom">
                        <img src="assets/img/team/3.jpg" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                            </ul>
                            <span>CV Engineer</span>
                            <h4>Ahmed Samy</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-3 col-lg-2" data-aos="zoom-in" data-aos-delay="300">
                    <div class="team-block bottom">
                        <img src="assets/img/team/4.jpg" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                            </ul>
                            <span>CV Engineer</span>
                            <h4>Ahmed Samir</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-3 col-lg-2" data-aos="zoom-in" data-aos-delay="300">
                    <div class="team-block bottom">
                        <img src="assets/img/team/5.png" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                            </ul>
                            <span>CV Engineer</span>
                            <h4>Issac Saber</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-3 col-lg-2" data-aos="zoom-in" data-aos-delay="300">
                    <div class="team-block bottom">
                        <img src="assets/img/team/1.jpg" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <li><a href="https://www.facebook.com/mostafa.mohamed18460/"><i
                                        class="bi bi-facebook"></i></a></li>
                                <li><a href="https://twitter.com/MrMstafaM7md"><i class="bi bi-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/ronozoro/"><i class="bi bi-linkedin"></i></a>
                                </li>
                            </ul>
                            <span>Backend Engineer</span>
                            <h4>Mostafa Mohamed</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Team Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-4">
                <div class="footer-logo">

                    <a class="navbar-brand" href="#">MAC</a>
                    <p>MAC (stands for Musculoskeletal Abnormality Classifier) is a computer vision project
                        that aims to classify which skeletal section the X-ray shows according to
                        the classes fed to the model. MAC will also detect whether there is an abnormality in the X-ray
                        image or not. </p>

                </div>
            </div>

        </div>
    </div>

    <div class="copyrights">
        <div class="container">
            <p>&copy; Copyrights MAC. All rights reserved.</p>
            <div class="credits">
                Designed by ITI's Students</a>
            </div>
        </div>
    </div>

</footer>
<!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<!-- Vendor JS Files -->
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js"></script>
<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="assets/js/fracture.js"></script>
</body>

</html>